@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: pixel;
  src: url('assets/font/dogicapixel.ttf')
}

pre {
  font-family: pixel;
}

:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
}
